<section class="content">
  <div class="page-content-container" style="flex-direction: column">
    <div class="page-content-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="container">
              <div class="row">
                <div class="col-sm-5 col-lg-4 col-xl-6 col-xxxl-5">
                  <app-cv-img></app-cv-img>
                </div>
                <div class="col-sm-7 col-lg-8 col-xl-6 col-xxxl-7">
                  <app-cv-contact-info></app-cv-contact-info>
                </div>
              </div>
              <div class="row">
                <app-cv-skills></app-cv-skills>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <app-cv-about-me></app-cv-about-me>
          </div>
        </div>
      </div>
      <app-cv-testimonials></app-cv-testimonials>
    </div>
  </div>
</section>
