<section class="content">
  <div class="page-content-container">
    <div class="page-content-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <app-cv-img class="content-in-box"></app-cv-img>
                </div>
                <div class="col-sm-8">
                  <app-cv-contact-info
                    class="content-in-box"
                  ></app-cv-contact-info>
                </div>
              </div>
              <div class="row">
                <app-cv-skills class="content-in-box"></app-cv-skills>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <div class="title-box-2">
                <h5 class="title-left">About me</h5>
              </div>
              <p class="lead">Développeur FullStack et formateur.</p>
              <p class="lead"></p>
              <p class="lead">
                Mon parcours professionnel a commencé par des études en
                mathématiques : je suis normalien, agrégé de mathématiques, et
                j'ai un master en logique et en informatique théorique.
              </p>
              <p class="lead">
                J'ai entamé ma carrière dans le développement informatique avec
                un titre professionnel Concepteur développeur d'applications
                Java. J'ai participé au développement de plusieurs projets. J'ai
                des compétences dans des frameworks back-end comme
                <strong><em>Spring boot</em></strong> ou
                <strong><em>Entity Framework</em></strong
                >, et dans des frameworks front-end comme
                <strong><em>Angular</em></strong> ou
                <strong><em>Vue.js</em></strong
                >. J'ai également donné des formations en
                <strong><em>Python</em></strong
                >, <strong><em>Java</em></strong
                >, <strong><em>C#</em></strong
                >, <strong><em>Javascript</em></strong
                >, <strong><em>SQL</em></strong> ou encore en
                <strong><em>Algorithmique</em></strong
                >.
              </p>
              <p class="lead">
                Enfin, j'ai plusieurs projets individuels, dont la portée est
                plus large. De la créativité avec la musique, au divertissement
                avec des jeux.
              </p>
              <p class="lead">
                Pour plus d'informations, voir
                <a
                  style="color: blue"
                  href="docs/JanetSylvain_CV.pdf"
                  target="_blank"
                  >mon cv</a
                >
              </p>
              <p>
                Test back : <span id="testDblocal"></span> -
                <span id="testDbrealPorthttps"></span> -
                <span id="testDbrealhttps"></span>
                <span id="testDbrealdevPorthttps"></span> -
                <span id="testDbrealdevhttps"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
