<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img
                      [appImgLoad]="preloaders"
                      width="100"
                      src="assets/img/cv-pic.jpg"
                      class="img-fluid rounded b-shadow-a"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p>
                      <span class="title-s">Name: </span>
                      <span>Sylvain Janet</span>
                    </p>
                    <p>
                      <span class="title-s">Profile: </span>
                      <span>FullStack developer</span>
                    </p>
                    <p>
                      <span class="title-s">Email: </span>
                      <span>contact@sylvainjanet.fr</span>
                    </p>
                    <p>
                      <span class="title-s">Phone: </span>
                      <span>06&nbsp62&nbsp02&nbsp14&nbsp12</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Skills</p>
                <span>Java</span>
                <span class="pull-right">90%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 90%"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>C#</span>
                <span class="pull-right">90%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 90%"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>Python</span>
                <span class="pull-right">85%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 85%"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>JavaScript / TypeScript</span>
                <span class="pull-right">85%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 85%"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>SQL</span>
                <span class="pull-right">80%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>HTML</span>
                <span class="pull-right">75%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>LATEX</span>
                <span class="pull-right">65%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 65%"
                    aria-valuenow="65"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">About me</h5>
                </div>
                <p class="lead">Développeur FullStack et formateur.</p>
                <p class="lead"></p>
                <p class="lead">
                  Mon parcours professionnel a commencé par des études en
                  mathématiques : je suis normalien, agrégé de mathématiques, et
                  j'ai un master en logique et en informatique théorique.
                </p>
                <p class="lead">
                  J'ai entamé ma carrière dans le développement informatique
                  avec un titre professionnel Concepteur développeur
                  d'applications Java. J'ai participé au développement de
                  plusieurs projets. J'ai des compétences dans des frameworks
                  back-end comme
                  <strong><em>Spring boot</em></strong> ou
                  <strong><em>Entity Framework</em></strong
                  >, et dans des frameworks front-end comme
                  <strong><em>Angular</em></strong> ou
                  <strong><em>Vue.js</em></strong
                  >. J'ai également donné des formations en
                  <strong><em>Python</em></strong
                  >, <strong><em>Java</em></strong
                  >, <strong><em>C#</em></strong
                  >, <strong><em>Javascript</em></strong
                  >, <strong><em>SQL</em></strong> ou encore en
                  <strong><em>Algorithmique</em></strong
                  >.
                </p>
                <p class="lead">
                  Enfin, j'ai plusieurs projets individuels, dont la portée est
                  plus large. De la créativité avec la musique, au
                  divertissement avec des jeux.
                </p>
                <p class="lead">
                  Pour plus d'informations, voir
                  <a
                    style="color: blue"
                    href="docs/JanetSylvain_CV.pdf"
                    target="_blank"
                    >mon cv</a
                  >
                </p>
                <p>
                  Test back : <span id="testDblocal"></span> -
                  <span id="testDbrealPorthttps"></span> -
                  <span id="testDbrealhttps"></span>
                  <span id="testDbrealdevPorthttps"></span> -
                  <span id="testDbrealdevhttps"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
