/**
* Footer style
*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--footer-margin-top);
  padding-top: var(--footer-padding-top);
  padding-bottom: var(--footer-padding-bottom);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

footer a {
  text-decoration: none;
}

.footer-version {
  font-size: 0.6rem;
}
