/**
* Footer style
*/
footer {
  display: flex;
  justify-content: center;
  margin-top: var(--footer-margin-top);
  padding-top: var(--footer-padding-top);
  padding-bottom: var(--footer-padding-bottom);
}

footer a {
  text-decoration: none;
}
