/**
Footer variables
*/
:root {
  --footer-margin-top: calc(3 * var(--default-padding));
  --footer-padding-top: calc(3 * var(--default-padding));
  --footer-padding-bottom: calc(3 * var(--default-padding));
}
