<div class="line-on-hover-container" [style]="globalStyle">
  <a
    #mainLink
    class="line-on-hover clickable"
    (touchstart)="lineAppears()"
    (click)="lineDisappears()"
    (touchend)="lineDisappears()"
    (mouseleave)="lineDisappears()"
    (mouseenter)="lineAppears()"
    [href]="link"
    [style]="aStyle"
    [ngStyle]="{ color: textColor }"
    >{{ text | async }}
  </a>
  <div
    class="line-on-hover-line"
    [style]="lineStyle"
    [ngStyle]="{ width: lineWidth, 'background-color': lineColor }"
  ></div>
</div>
