<div
  class="line-on-hover-container clickable"
  [style]="globalStyle"
  (click)="lineDisappears()"
  (touchstart)="lineAppears($event)"
  (mouseenter)="lineAppears($event)"
  (touchend)="lineDisappears()"
  (mouseleave)="lineDisappears()"
>
  <a
    class="line-on-hover"
    [href]="link"
    [style]="aStyle"
    [ngStyle]="{ color: textColor }"
    >{{ text | async }}
  </a>
  <div
    class="line-on-hover-line"
    [style]="lineStyle"
    [ngStyle]="{ width: lineWidth, 'background-color': lineColor }"
  ></div>
</div>
