/**
Bars animated on hover
*/
.line-on-hover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-on-hover-line {
  height: var(--header-lines-on-hover-height);
  margin-top: var(--header-lines-on-hover-margin-top);
  transition-property: width;
  transition-duration: var(--header-lines-on-hover-duration);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a {
  text-decoration: none;
  margin-left: var(--header-link-button-margin);
  margin-right: var(--header-link-button-margin);
  height: min-content;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a:hover,
a:active {
  border-bottom: none;
}
.clickable {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
