<div>
  <div class="title-and-bar">
    <div>
      <h2 class="title">{{ aboutMe | async }}</h2>
      <span class="title-bar" [style.width]="width"></span>
    </div>
  </div>
  <p class="lead">{{ subtitle }}</p>
  <p class="lead"></p>
  <p class="lead">{{ firstPart }}</p>
  <p class="lead">
    {{ secondPart }}
  </p>
  <p class="lead">
    {{ thirdPart }}
  </p>
  <p class="lead">
    {{ forthPart }}
  </p>
  <p class="lead">
    {{ fifthPart }}
    <a
      style="color: blue"
      href="/src/assets/pdf/JanetSylvain_CV.pdf"
      target="_blank"
      >{{ myCv }}</a
    >
  </p>
</div>
