.bg-image {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}

*,
::after,
::before {
  box-sizing: border-box;
}
div {
  display: block;
}
.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 00.9;
}
.intro .intro-content {
  text-align: center;
  position: absolute;
}
.display-table {
  width: 100%;
  height: 100%;
  display: table;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.intro .intro-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
