<!--/ Intro Skew Star /-->
<div
  id="home"
  class="intro route bg-image"
  style="background-image: url(assets/img/intro-bg.jpg)"
>
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h1 class="intro-title mb-4">I am Sylvain Janet</h1>
        <p class="intro-subtitle">
          <app-typed-animated-text
            class="text-slider-items"
            textColor="white"
            [textArray]="[
              'FullStack Developer',
              'Trainer',
              'Mathematician',
              'Musician'
            ]"
          ></app-typed-animated-text
          ><strong class="text-slider"></strong>
        </p>
      </div>
    </div>
  </div>
</div>
<!--/ Intro Skew End /-->
