<!-- https://stackoverflow.com/questions/5057990/how-can-i-check-if-a-background-image-is-loaded/5058336#5058336 -->
<!-- preloaders should take into account the loading of all images, even those specified in css. It's 
  easy to directly do so when the img source is defined in the html, using the appropriate directive. Unfortunately,
  I haven't found a direct way to do so when the img is loaded using css (as a background-image css property, for instance).
  This workaround works, however, by defining another image. The browser will not load the same asset twice. The preloader logic
  can be done with that image, and once it's loaded, we can remove the double from the DOM.-->
<div [style]="{ display: doubleImgDisplay }">
  <img
    src="/assets/img/testimonials-bg.png"
    [appImgLoad]="preloaders"
    alt=""
    (load)="onDoubleImgLoad()"
  />
</div>

<div class="slider container" #mainDiv>
  <!-- slide 1 -->
  <div class="slide row">
    <div class="col-2"></div>
    <div class="col-8">
      <app-cv-testimonial
        [name]="name"
        [comment]="comment"
        [grade]="grade"
        [date]="date"
        [course]="course"
        [opacity]="opacity"
      ></app-cv-testimonial>
    </div>
    <div class="col-2"></div>
  </div>

  <!-- Control buttons -->
  <button class="btn btn-next" (click)="onClickNext()">></button>
  <button class="btn btn-prev" (click)="onClickPrev()"><</button>
</div>
