.about-img img {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.about-img {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

:host {
  padding-top: var(--default-padding);
  padding-bottom: var(--default-padding);
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: block;
}
