<div class="line-on-hover-container" [style]="globalStyle">
  <button
    class="line-on-hover"
    (click)="action($event)"
    (touchstart)="lineAppears($event)"
    (mouseenter)="lineAppears($event)"
    (touchend)="lineDisappears()"
    (mouseleave)="lineDisappears()"
    [style]="buttonStyle"
    [ngStyle]="{ color: textColor }"
  >
    {{ text }}
  </button>
  <div
    class="line-on-hover-line"
    [style]="lineStyle"
    [ngStyle]="{ width: lineWidth, 'background-color': lineColor }"
  ></div>
</div>
