<app-language-modal
  [isOpen]="showModal"
  [clickedEl]="clickedEl"
  (closed)="closeModal()"
></app-language-modal>
<div #mainDiv class="header sticky dark-header">
  <div class="header-container">
    <div class="left-header">
      <mat-progress-spinner
        [class.spinner-dark]="headerState === 'dark'"
        [mode]="'indeterminate'"
        style="
          height: 1em;
          width: 50px;
          transition-timing-function: unset;
          flex: none;
        "
        *ngIf="
          preloader.isLoading(loaderTexts) &&
          !visibleToLoadTextService.hasTextLoaded(this)
        "
      ></mat-progress-spinner>
      <app-link-bar-on-hover
        [class.hide]="
          preloader.isLoading(loaderTexts) &&
          !visibleToLoadTextService.hasTextLoaded(this)
        "
        [textColor]="
          headerState === 'dark'
            ? 'var(--dark-header-color)'
            : 'var(--light-header-color)'
        "
        [lineColor]="
          headerState === 'dark'
            ? 'var(--dark-header-color)'
            : 'var(--light-header-color)'
        "
        [link]="'https://sylvainjanet.fr'"
        [text]="myName"
        [aStyle]="
          'transition-property: background-color, color; transition-duration: var(--header-color-transition-length);'
        "
        [lineStyle]="
          'transition-property: background-color, color, width; transition-duration: var(--header-color-transition-length), var(--header-color-transition-length), var(--header-lines-on-hover-duration);'
        "
      ></app-link-bar-on-hover>
    </div>
    <div class="right-header">
      <mat-progress-spinner
        [class.spinner-dark]="headerState === 'dark'"
        [mode]="'indeterminate'"
        style="
          height: 1em;
          width: 50px;
          transition-timing-function: unset;
          flex: none;
        "
        *ngIf="
          preloader.isLoading(loaderTexts) &&
          !visibleToLoadTextService.hasTextLoaded(this)
        "
      ></mat-progress-spinner>
      <app-button-bar-on-hover
        #buttonHeaderModal
        [class.hide]="
          preloader.isLoading(loaderTexts) &&
          !visibleToLoadTextService.hasTextLoaded(this)
        "
        [textColor]="
          headerState === 'dark'
            ? 'var(--dark-header-color)'
            : 'var(--light-header-color)'
        "
        [lineColor]="
          headerState === 'dark'
            ? 'var(--dark-header-color)'
            : 'var(--light-header-color)'
        "
        [text]="textIcon"
        [buttonStyle]="
          'background-color:transparent; transition-property: background-color, color; transition-duration: var(--header-color-transition-length);'
        "
        [lineStyle]="
          'transition-property: background-color, color, width; transition-duration: var(--header-color-transition-length), var(--header-color-transition-length), var(--header-lines-on-hover-duration);'
        "
        (press)="openModalButtonHeader()"
      >
      </app-button-bar-on-hover>
    </div>
    <div class="collapsed-header">
      <!-- https://stackoverflow.com/questions/3885018/active-pseudo-class-doesnt-work-in-mobile-safari -->
      <div class="deroulant" ontouchstart="" ontouchend="">
        <div>
          <div class="collapsed-header-ico">
            <div class="dark-header-content"></div>
            <div class="dark-header-content"></div>
            <div class="dark-header-content"></div>
          </div>
        </div>
        <ul class="sous">
          <li>
            <mat-progress-spinner
              [class.spinner-dark]="headerState === 'dark'"
              [mode]="'indeterminate'"
              style="
                height: 1em;
                width: 50px;
                margin-top: var(--collapsed-header-item-padding);
                margin-bottom: var(--collapsed-header-item-padding);
                margin-left: var(--collapsed-header-item-padding);
                margin-right: var(--collapsed-header-item-padding);
                transition-timing-function: unset;
                flex: none;
              "
              *ngIf="
                preloader.isLoading(loaderTexts) &&
                !visibleToLoadTextService.hasTextLoaded(this)
              "
            ></mat-progress-spinner>
            <app-link-bar-on-hover
              [class.hide]="
                preloader.isLoading(loaderTexts) &&
                !visibleToLoadTextService.hasTextLoaded(this)
              "
              [textColor]="
                headerState === 'dark'
                  ? 'var(--dark-header-color)'
                  : 'var(--light-header-color)'
              "
              [lineColor]="
                headerState === 'dark'
                  ? 'var(--dark-header-color)'
                  : 'var(--light-header-color)'
              "
              [link]="website"
              [text]="myName"
              [aStyle]="
                'transition-property: background-color, color; transition-duration: var(--header-color-transition-length);'
              "
              [lineStyle]="
                'transition-property: background-color, color, width; transition-duration: var(--header-color-transition-length), var(--header-color-transition-length), var(--header-lines-on-hover-duration);'
              "
              [globalStyle]="
                'padding: var(--collapsed-header-item-padding) 0px;'
              "
            ></app-link-bar-on-hover>
          </li>
          <li>
            <mat-progress-spinner
              [class.spinner-dark]="headerState === 'dark'"
              [mode]="'indeterminate'"
              style="
                height: 1em;
                width: 50px;
                margin-top: var(--collapsed-header-item-padding);
                margin-bottom: var(--collapsed-header-item-padding);
                margin-left: var(--collapsed-header-item-padding);
                margin-right: var(--collapsed-header-item-padding);
                transition-timing-function: unset;
                flex: none;
              "
              *ngIf="
                preloader.isLoading(loaderTexts) &&
                !visibleToLoadTextService.hasTextLoaded(this)
              "
            ></mat-progress-spinner>
            <app-button-bar-on-hover
              #buttonCollapsedModal
              [class.hide]="
                preloader.isLoading(loaderTexts) &&
                !visibleToLoadTextService.hasTextLoaded(this)
              "
              [textColor]="
                headerState === 'dark'
                  ? 'var(--dark-header-color)'
                  : 'var(--light-header-color)'
              "
              [lineColor]="
                headerState === 'dark'
                  ? 'var(--dark-header-color)'
                  : 'var(--light-header-color)'
              "
              [text]="textIcon"
              [buttonStyle]="
                'background-color:transparent; transition-property: background-color, color; transition-duration: var(--header-color-transition-length);'
              "
              [lineStyle]="
                'transition-property: background-color, color, width; transition-duration: var(--header-color-transition-length), var(--header-color-transition-length), var(--header-lines-on-hover-duration);'
              "
              [globalStyle]="
                'padding: var(--collapsed-header-item-padding) 0px;'
              "
              (press)="openModalButtonCollapsed()"
            >
            </app-button-bar-on-hover>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
