<!-- Banner -->
<div class="banner-container">
  <div class="banner">
    <div class="page-title-container">
      <div class="page-title">
        <div>
          <h2>
            <span style="color: white">I am Sylvain Janet</span>
            <app-typed-animated-text
              class="text-slider-items"
              textColor="white"
              [textArray]="[
                'FullStack Developer',
                'Trainer',
                'Mathematician',
                'Musician'
              ]"
            ></app-typed-animated-text>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
