div.stars {
  width: 160px;
  height: 32px;
  background: url("/assets/img/testimonial-star-gray.png") 0 0 repeat-x;
  background-size: 32px;
}

div.stars div {
  display: block;
  background: url("/assets/img/testimonial-star.png") 0 0 repeat-x;
  width: 160px;
  height: 32px;
  background-size: 32px;
  overflow: hidden;
}

:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.stars div {
  background-position: 0 0;
}
