mat-progress-spinner {
  position: fixed;
  top: calc(50% - 50px - var(--default-padding) - 0.5em);
  left: calc(50% - 50px - var(--scroll-bar-width) / 2);
  right: calc(50% - 50px - var(--scroll-bar-width) / 2);
  border-radius: 50%;
  bottom: calc(50% - 50px + var(--default-padding) + 0.5em);
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

.preloader-message {
  position: fixed;
  top: calc(50% + 50px + var(--default-padding) - 0.5em);
  left: calc(10% - var(--scroll-bar-width) / 2);
  right: calc(10% - var(--scroll-bar-width) / 2);
  text-align: center;
  z-index: 9999;
  height: 1em;
}

.hide {
  visibility: hidden;
}
