@import "template/variables/variables.css";

/**
* Global styles
*/

@import "../libs/normalizev8.0.1/normalize.css";
@import "normalize/normalize.css";
@import "./content/content.css";

body {
  background-color: var(--background-color);
}

* {
  font-weight: var(--font-weight-normal);
}

strong,
strong * {
  font-weight: var(--font-weight-bold);
}
