@import "template/variables/variables.css";

/**
* Global styles
*/

@import "../libs/normalizev8.0.1/normalize.css";
@import "normalize/normalize.css";
@import "./content/content.css";

body {
  background-color: var(--background-color);
  min-width: 315px; /* minimum width of 315px */
  width: auto !important; /* Firefox will set width as auto */
  width: 315px; /* As IE6 ignores !important it will set width as 315px; */
}

* {
  font-weight: var(--font-weight-normal);
}

strong,
strong * {
  font-weight: var(--font-weight-bold);
}
