<div class="line-on-hover-container" [style]="globalStyle">
  <button
    #mainButton
    class="line-on-hover clickable"
    [style]="buttonStyle"
    [ngStyle]="{ color: textColor }"
    (click)="doAction()"
    (touchstart)="lineAppears()"
    (mouseenter)="lineAppears()"
    (touchend)="lineDisappears()"
    (mouseleave)="lineDisappears()"
  >
    {{ text | async }}
  </button>
  <div
    class="line-on-hover-line"
    [style]="lineStyle"
    [ngStyle]="{ width: lineWidth, 'background-color': lineColor }"
  ></div>
</div>
