<div
  class="line-on-hover-container"
  [style]="globalStyle"
  (click)="doAction($event)"
  (touchstart)="lineAppears($event)"
  (mouseenter)="lineAppears($event)"
  (touchend)="lineDisappears()"
  (mouseleave)="lineDisappears()"
>
  <button
    class="line-on-hover"
    [style]="buttonStyle"
    [ngStyle]="{ color: textColor }"
    (click)="doAction($event)"
    (touchstart)="lineAppears($event)"
    (mouseenter)="lineAppears($event)"
    (touchend)="lineDisappears()"
    (mouseleave)="lineDisappears()"
  >
    {{ text | async }}
  </button>
  <div
    class="line-on-hover-line"
    [style]="lineStyle"
    [ngStyle]="{ width: lineWidth, 'background-color': lineColor }"
  ></div>
</div>
