.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.about-info p {
  padding-top: var(--default-padding);
  padding-bottom: var(--default-padding);
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info {
  position: relative;
  flex: content;
  box-sizing: border-box;
  text-align: right;
  padding-left: calc(var(--default-padding) / 2);
}

.title-s {
  position: relative;
  width: fit-content;
  box-sizing: border-box;
  text-align: left;
  padding-right: calc(var(--default-padding) / 2);
}

:host {
  padding-top: var(--default-padding);
  padding-bottom: var(--default-padding);
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: block;
}

.hide {
  display: none;
}
