<div #mainDiv class="about-info">
  <p>
    <mat-progress-spinner
      class="title-s"
      [mode]="'indeterminate'"
      style="
        height: 1em;
        margin-top: auto;
        margin-bottom: auto;
        width: 50px;
        flex: none;
      "
      *ngIf="
        preloader.isLoading(loaderTexts) &&
        !visibleToLoadTextService.hasTextLoaded(this)
      "
    ></mat-progress-spinner>
    <span
      style="width: 10%; margin: auto"
      *ngIf="
        preloader.isLoading(loaderTexts) &&
        !visibleToLoadTextService.hasTextLoaded(this)
      "
    ></span>
    <strong
      class="title-s"
      [ngClass]="{
        hide:
          preloader.isLoading(loaderTexts) &&
          !visibleToLoadTextService.hasTextLoaded(this)
      }"
      >{{ name | async }}:
    </strong>
    <mat-progress-spinner
      class="info"
      [mode]="'indeterminate'"
      style="
        height: 1em;
        margin-top: auto;
        margin-bottom: auto;
        width: 50px;
        flex: none;
      "
      *ngIf="
        preloader.isLoading(loaderTexts) &&
        !visibleToLoadTextService.hasTextLoaded(this)
      "
    ></mat-progress-spinner>
    <span
      class="info"
      [ngClass]="{
        hide:
          preloader.isLoading(loaderTexts) &&
          !visibleToLoadTextService.hasTextLoaded(this)
      }"
      >{{ sj | async }}</span
    >
  </p>
  <p>
    <mat-progress-spinner
      class="title-s"
      [mode]="'indeterminate'"
      style="
        height: 1em;
        margin-top: auto;
        margin-bottom: auto;
        width: 50px;
        flex: none;
      "
      *ngIf="
        preloader.isLoading(loaderTexts) &&
        !visibleToLoadTextService.hasTextLoaded(this)
      "
    ></mat-progress-spinner>
    <span
      style="width: 10%; margin: auto"
      *ngIf="
        preloader.isLoading(loaderTexts) &&
        !visibleToLoadTextService.hasTextLoaded(this)
      "
    ></span>
    <strong
      class="title-s"
      [ngClass]="{
        hide:
          preloader.isLoading(loaderTexts) &&
          !visibleToLoadTextService.hasTextLoaded(this)
      }"
      >{{ profile | async }}:
    </strong>
    <mat-progress-spinner
      class="info"
      [mode]="'indeterminate'"
      style="
        height: 1em;
        margin-top: auto;
        margin-bottom: auto;
        width: 50px;
        flex: none;
      "
      *ngIf="
        preloader.isLoading(loaderTexts) &&
        !visibleToLoadTextService.hasTextLoaded(this)
      "
    ></mat-progress-spinner>
    <span
      class="info"
      [ngClass]="{
        hide:
          preloader.isLoading(loaderTexts) &&
          !visibleToLoadTextService.hasTextLoaded(this)
      }"
      >{{ fsDev | async }}</span
    >
  </p>
  <p>
    <mat-progress-spinner
      class="title-s"
      [mode]="'indeterminate'"
      style="
        height: 1em;
        margin-top: auto;
        margin-bottom: auto;
        width: 50px;
        flex: none;
      "
      *ngIf="
        preloader.isLoading(loaderTexts) &&
        !visibleToLoadTextService.hasTextLoaded(this)
      "
    ></mat-progress-spinner>
    <strong
      class="title-s"
      [ngClass]="{
        hide:
          preloader.isLoading(loaderTexts) &&
          !visibleToLoadTextService.hasTextLoaded(this)
      }"
      >{{ email | async }}:
    </strong>
    <a href="mailto: contact@sylvainjanet.fr" class="info"
      >contact@sylvainjanet.fr</a
    >
  </p>
  <p>
    <mat-progress-spinner
      class="title-s"
      [mode]="'indeterminate'"
      style="
        height: 1em;
        margin-top: auto;
        margin-bottom: auto;
        width: 50px;
        flex: none;
      "
      *ngIf="
        preloader.isLoading(loaderTexts) &&
        !visibleToLoadTextService.hasTextLoaded(this)
      "
    ></mat-progress-spinner>
    <strong
      class="title-s"
      [ngClass]="{
        hide:
          preloader.isLoading(loaderTexts) &&
          !visibleToLoadTextService.hasTextLoaded(this)
      }"
      >{{ phone | async }}:
    </strong>
    <span class="info">06&nbsp;62&nbsp;02&nbsp;14&nbsp;12</span>
  </p>
</div>
