<div class="about-info">
  <p>
    <strong class="title-s">Name: </strong>
    <span class="info">Sylvain Janet</span>
  </p>
  <p>
    <strong class="title-s">Profile: </strong>
    <span class="info">FullStack developer</span>
  </p>
  <p>
    <strong class="title-s">Email: </strong>
    <a href="mailto: contact@sylvainjanet.fr" class="info"
      >contact@sylvainjanet.fr</a
    >
  </p>
  <p>
    <strong class="title-s">Phone: </strong>
    <span class="info">06&nbsp;62&nbsp;02&nbsp;14&nbsp;12</span>
  </p>
</div>
