<div class="skill-mf">
  <strong class="title-s">{{ skills | async }}</strong>
  <app-cv-skill-bar [skillName]="java" [percent]="90"></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="csharp" [percent]="90"></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="python" [percent]="85"></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="jsts" [percent]="85"></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="sql" [percent]="80"></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="html" [percent]="75"></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="latex" [percent]="65"></app-cv-skill-bar>
</div>
