<div class="skill-mf">
  <p class="title-s">Skills</p>
  <app-cv-skill-bar [skillName]="'Java'" [percent]="90"></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="'C#'" [percent]="90"></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="'Python'" [percent]="85"></app-cv-skill-bar>
  <app-cv-skill-bar
    [skillName]="'Javascript/TypeScript'"
    [percent]="85"
  ></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="'SQL'" [percent]="80"></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="'HTML'" [percent]="75"></app-cv-skill-bar>
  <app-cv-skill-bar [skillName]="'LATEX'" [percent]="65"></app-cv-skill-bar>
</div>
