.example-container {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
}

.example-toolbar {
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  position: sticky;
  top: 0px;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-item {
  padding: 0 14px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
